{% extends "pages/base.html" %}
{% block content %}
<h1>Our Portfolio</h1>

<div class="row g-4">
    <div class="col-md-6">
        <div class="border p-3 rounded">
            <h4>Web Development – Intranet</h4>
            <p>Built a centralized platform for internal communication and document sharing.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="border p-3 rounded">
            <h4>Computer Procurement</h4>
            <p>Managed procurement of cost-effective IT hardware for schools and businesses.</p>
        </div>
    </div>
</div>
{% endblock %}
