{% extends 'pages/base.html' %}

{% block content %}
<section class="container py-5">
    <h1>Our Services</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col"><h5>IT Infrastructure & Support</h5><p>Networking, support, cybersecurity, cloud, procurement.</p></div>
        <div class="col"><h5>Software Development</h5><p>Web, mobile, enterprise apps, APIs.</p></div>
        <div class="col"><h5>Digital Marketing & Branding</h5><p>SEO, social media, content, graphics, email.</p></div>
        <div class="col"><h5>E-Commerce Solutions</h5><p>Online stores, marketplaces, payments, logistics.</p></div>
        <div class="col"><h5>Consulting & Strategy</h5><p>Digital transformation, training, BI, automation.</p></div>
        <div class="col"><h5>Procurement & Supply</h5><p>Licenses, IT hardware, software, office equipment.</p></div>
    </div>
</section>
{% endblock content %}
